<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap" rel="stylesheet">
  <!-- font awesome -->
  <script src="https://kit.fontawesome.com/91930801a4.js" crossorigin="anonymous"></script>
  <!-- css stylesheet -->
  <link rel="stylesheet" href="../static/css/index.css">
  <title>Webcam</title>

  <style>
    section.col-sm {
      background-color: black;
      width: 1000px;
      height: 550px;
      border-radius: 35px;
      object-fit: contain;
      margin: 40px;
    }

    img {
      width: 900px;
      height: 500px;
      border-radius: 35px;
      object-fit: contain;
      margin: 30px;
    }

    .new {
      color: black;
      margin: 0px;
      padding: 10px;
      margin: 0px;
      margin-top: -10px;
      margin-left: 20%;
    }
  </style>
</head>

<body>
  <section class="colored-section" id="title">
    <div class="container-fluid">
      <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="">constructGaurd</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="./">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./video">Video</a>
            </li>
          </ul>
        </div>
      </nav>
      <h1 class="big-heading" align="center">Live Analysis</h1>
      <section class="col-sm ">
        <img src="{{ url_for('webcamResult') }}" alt="Upload video">

      </section>
    </div>
  </section>



</body>

</html>